.App {
	align-items: center;
	text-align: center;
	max-width: 300px;
	margin: 0 auto;

	svg {
		min-width: 20px;
	}

	.root-card {
		margin-bottom: 10px;

		.card-content {
			padding-top: 24px;
		}

		.weather-info {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.weather-item {
				margin: 5px;
				align-self: center;
			}
			.weather-icon {
				min-height: 50px;
			}
		}
		.weather-params-card {
			display: flex;
			justify-content: center;
			margin-bottom: 5px;
			padding: 2px;

			.params-icon {
				margin-right: 5px;
			}
		}
	}

	.wrapper {
		position: relative;
	}
	.gear {
		position: absolute;
		right: 0;
		display: flex;
		justify-content: flex-end;
	}
	.settings {
		text-align: left;
		padding: 16px 10px 24px;
	}

	.helper-message {
		padding-right: 40px;
		margin-bottom: 20px;
	}

	.city-options {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgb(237, 235, 233);
		margin-top: 15px;
		margin-bottom: 15px;
		padding-left: 10px;
		height: 30px;
		border-radius: 2px;
		cursor: default;
	}
	.city-options .city-name {
		margin-left: 15px;
	}
	.delete-option {
		margin-left: auto;
		cursor: default;
	}

	.dnd-item {
		cursor: grab;
	}

	.city-select {
		margin-bottom: 10px;

		.button-add {
			height: 60px;
		}
	}

	.city-select-form {
		height: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.error {
		color: brown;
	}
}
